.shadow:hover{
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.5) , 0.0, 0.0, 5.0 , 5.0 );
}
TextFlow{
	-fx-font-family: "A소나무L";
	-fx-font-size: 25px;
}
#titleText{
	-fx-font-family: "A소나무M"
}