AnchorPane{
	-fx-background-color : #ffffe4;
	
}
#titleText{
	-fx-font-family: "A소나무M";
	-fx-font-size: 35px;
}

#img1_text{
	-fx-font-family: "A소나무L";
	-fx-font-size: 20px;
}
#img2_text{
	-fx-font-family: "A소나무L";
	-fx-font-size: 20px;
}
#img3_text{
	-fx-font-family: "A소나무L";
	-fx-font-size: 20px;
}
#GObtn1:hover{
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 0.0, 0.0, 5.0 , 8.0 );
	/*rgba(r, g, b, 투명도 0.0~1.0) */
} 
#GObtn2:hover{
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 0.0, 0.0, 5.0 , 8.0 );
	/*rgba(r, g, b, 투명도 0.0~1.0) */
} 
#GObtn3:hover{
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 0.0, 0.0, 5.0 , 8.0 );
	/*rgba(r, g, b, 투명도 0.0~1.0) */
}
#backBtn:hover{
	-fx-background-fills: rgba(128,128,128, 0.3);
}
.paneBack{
	-fx-background-color: rgba(238,220,198, 0.4);
	-fx-background-radius: 10;
}

