/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

AnchorPane{
	-fx-background-color : #ffffe4;
}

#backBorder{
	-fx-background-color: #EEDCC6;
	-fx-border-style: dashed;
	-fx-border-width: 4.0px;
	-fx-background-radius: 50.0px;
	-fx-border-radius: 50.0px;
	-fx-border-color: #707070;
	-fx-opacity: 40.0%;
}

.fontEffect{
	-fx-font-family: "a소나무L";
	-fx-font-size: 24.0px;
	-fx-text-fill: #FF007F;
}

.fontSetting{
	-fx-font-family: "a소나무L";
}

.fontStyleL{
	-fx-font-family: "a소나무L";
	-fx-font-size: 25.0px;
	-fx-text-fill: #252525;
}

.fontStyleM{
	-fx-font-family: "a소나무M";
	-fx-font-size: 35.0px;
}

.choiceBtn{
	-fx-font-family: "a소나무M";
	-fx-font-size: 24.0px;
	-fx-text-fill: #ffffff;
}

.fontStyleChoice{
	-fx-font-family: "a소나무M";
	-fx-font-size: 25.0px;
	-fx-text-fill: #252525;
}

.infoGame{
	-fx-font-family: "a소나무L";
	-fx-font-size: 30.0px;
}

#shadow:hover{
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.5) , 0.0, 0.0, 5.0 , 8.0 );
}