/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
    -fx-background-color: #50AF49;
    -fx-background-radius: 30.0;
    -fx-border-radius: 30.0;
    -fx-border-width:6.0px;

    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 6.0, 0.0 , 1.0 , 1.0 );
}
.button:hover{
    -fx-background-color: #108649;
    -fx-background-radius: 30.0;
    -fx-border-radius: 30.0;
    -fx-border-width:6.0px;
    -fx-opacity: 1.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 0.0, 0.0 , 2.0 , 2.0 );
}
#titleText{
	-fx-font-family: "A소나무M";
	-fx-font-size: 35px;
}

#img1_text{
	-fx-font-family: "A소나무L";
	-fx-font-size: 20px;
}
#img2_text{
	-fx-font-family: "A소나무L";
	-fx-font-size: 20px;
}
#img3_text{
	-fx-font-family: "A소나무L";
	-fx-font-size: 20px;
}
TextFlow{
	-fx-font-family: "A소나무L";
	-fx-font-size: 25px;
}
#shadow:hover{
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.5) , 0.0, 0.0, 5.0 , 5.0 );
}
#oneToFiftyBtn:hover{
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 0.0, 0.0, 5.0 , 8.0 );
	/*rgba(r, g, b, ���� 0.0~1.0) */
} 
#GObtn2:hover{
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 0.0, 0.0, 5.0 , 8.0 );
	/*rgba(r, g, b, ���� 0.0~1.0) */
} 
#GObtn3:hover{
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 0.0, 0.0, 5.0 , 8.0 );
	/*rgba(r, g, b, ���� 0.0~1.0) */
}
#backBtn:hover{
	-fx-background-fills: rgba(128,128,128, 0.3);
}
.paneBack{
	-fx-background-color: rgba(238,220,198, 0.4);
	-fx-background-radius: 10;
}