/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
    -fx-background-color: #3bb948;
    -fx-background-radius: 30.0;
    -fx-border-radius: 30.0;
    -fx-border-width:6.0px;
    -fx-opacity: 0.8;
}
.button:hover{
    -fx-background-color: #108649;
    -fx-background-radius: 30.0;
    -fx-border-radius: 30.0;
    -fx-border-width:6.0px;
    -fx-opacity: 1.0;
}